.contacts {
    height: 80vh;
    display: flex;
    justify-content: center;
}

.conteiner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.centr {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 340px;
    justify-content: space-around;
}

.button {
    border: 1px solid;
}

.flexButton {
}

.formF {
    display: flex;
    flex-direction: column;
}