.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-around;
    flex-wrap: wrap;

}

.greeting {
    width: 360px;
}

.photo {
    width: 200px;
}