.contacts {
    height: 80vh;
    background-color: hotpink;
    display: flex;
    justify-content: center;
}
.conteiner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.centr {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    justify-content: space-around;
    border: 1px solid;
}

.spanBlock {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
}

.button {
    border: 1px solid;
}

.flexButton {
}

.formF {
    display: flex;
    flex-direction: column;
}