.footer {
  height: 260px;
  background-color: slategray;
  display: flex;
  justify-content: center;
}

.contener {
  width: 80%;
  border: 1px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box{
  grid-template-columns: 100px 100px 200px;
  border: 1px solid;
}