.header {
    height: 70px;
    background-color: green;
    display: flex;
}
.nav {
    width: 360px;
    display:flex;
    justify-content: space-between;
    border: 1px solid;
}
.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
