.main {
    display: flex;
    height: 360px;
    background-color: red;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid;
}

.greeting {
    width: 80%;
    border: 1px solid;

}

.photo {
    /*height: 50px;
     width: 50px;
     border-color: aqua;*/
}