.cont2{
  width: 80%;
  border: 1px solid;
}
.container{

  display: flex;
  justify-content: center;
  background-color: aqua;

}
/*.projects {*/
/*    height: 360px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: saddlebrown;*/
/*}*/

.navget {
    border: 1px solid;
    /*width: 80%;*/
    display: flex;
    justify-content: space-between;
    align-items: center

}

/*.center {*/
/*    !*padding-left: 10%;*!*/
/*    background-color: slategray;*/
/*    !*width: 80%;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border: 1px solid;*/
/*}*/

/*.block {*/
/*    !*width: 80%;*!*/
/*    border: 1px solid;*/
/*}*/