.skills {
  height: 360px;
  background-color: blue;
  display: flex ;
  justify-content: center;
}

.subblok1{

}
.subblok2{

}
.subblok3{

}
.navget{
  width: 80%;
  border: 1px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}